<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Chrome , Firefox , IEExplorer-->
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="ramon@bugzilla.com"/>
    <add key="Password" value="221219880"/>
    <add key="Website" value="http://localhost:5001/"/>
  </appSettings>
</configuration>